SECRET_KEY=insecure-S#perS3crEt_007_=0insecure-S#perS3crEt_007
DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1  [::1]
CORS_ALLOWED_ORIGINS=http://localhost:3000 http://127.0.0.1:3000
FE_SERVER=http://localhost:3000
API_SERVER=http://localhost:8000
#DB_ENGINE=django.db.backends.sqlite3
#DATABASE=db.sqlite3

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_PROJECT_ID=
GOOGLE_DEVELOPER_TOKEN=
GOOGLE_JAVASCRIPT_ORIGINS=['http://localhost']

META_APP_ID=
META_APP_SECRET=
META_APP_TOKEN=
META_SYSTEM_USER_ACCESS_TOKEN=
META_API_VERSION=

LINKEDIN_OAUTH_CLIENT_ID=
LINKEDIN_OAUTH_CLIENT_SECRET=
LINKEDIN_API_VERSION=

PINTEREST_OAUTH_CLIENT_ID=
PINTEREST_OAUTH_CLIENT_SECRET=

SNAPCHAT_OAUTH_CLIENT_ID=
SNAPCHAT_OAUTH_CLIENT_SECRET=

# dev works on 127.0.0.1 only and requires https for oauth. Manually enter it in the URL for development
SNAPCHAT_ADS_MANAGER_CLIENT_ID=
SNAPCHAT_ADS_MANAGER_CLIENT_SECRET=

#login with tiktok only works on https not localhost or IP address. Must be a real domain. This will be removed soon. Will be replaced with same auth flow as ad authorization.
TIKTOK_OAUTH_CLIENT_ID=
TIKTOK_OAUTH_CLIENT_SECRET=
TIKTOK_OAUTH_CLIENT_KEY=

# https://business-api.tiktok.com/portal/apps
# this works with http://localhost:3000/ad-accounts
TIKTOK_APP_ID=
TIKTOK_APP_SECRET
TIKTOK_APP_RID=


## email
SECURE_EMAIL_TITLE="Secure Login Link"
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_FROM=LinkClicks.com <info@linkclicks.com>
EMAIL_HOST=smtp.gmail.com
EMAIL_USE_TLS=True
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=


AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME="dev.creatives.linkclicks.com"
AWS_STORAGE_REGION="s3.us-east-2.amazonaws.com"

#SLACK_WEBHOOK_NEW_USER="https://hooks.slack.com/services/xxxxx/xxxxx/xxxxx"
SLACK_WEBHOOK_API_NOTI="https://hooks.slack.com/services/xxxxx/xxxxx/xxxxx"
